@charset "UTF-8";

/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
}
.btn button, a{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    /* border-radius: 30px; */
    cursor: pointer;
    transition: .2s;
}
button:hover, a:hover{
    box-shadow: 0px 0px 8px rgb(192, 95, 95);
    transform: scale(1.05);
}
.destaque{
    color: rgb(192, 95, 95);
}
.titulo{
    font-size: 35px;
    text-align: center;
    margin-bottom: -10px;
}
/* FIM GERAL */

/* NAVEGAÇÃO */
header{
    padding: 40px 4%;  
}
header .flex{
    align-items: center;
    justify-content: space-between;
}
ul li, a{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    
}
/* FIM NAVEGAÇÃO */

/* TOPO */
.inicio{
    padding: 40px 4%;
}
.inicio-texto{
    text-align: center;
    margin: 140px 0 190px;
}
.inicio-texto h1{
    font-size: 3.5rem;
}
.inicio-texto p{
    font-size: 1.5rem;
}
.btn-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM TOPO */

/* SOBRE */
.sobre{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(192, 95, 95, 0.616);
}
.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre-texto h1{
    font-size: 38px;
    margin-bottom: 10px;
}
.sobre-texto p{
    font-size: 18px;
}
/* FIM SOBRE */

/* FORMAÇÃO */
.formacao{
    padding: 40px 4%;
}
.formacao .flex{
    align-items: center;
    gap: 60px;
}
.formacao-texto h1{
    font-size: 38px;
    margin-bottom: 10px;
}
.formacao-texto p{
    font-size: 18px;
}
/* FIM FORMAÇÃO */

/* PORTFOLIO */
.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(192, 95, 95, 0.616);
}
.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-color: rgb(192, 95, 95);
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 95, 95, 0.438);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 1;
}
/* FIM PORTFOLIO */

/* CONTATO */
.contato{
    padding: 80px 4%;
    max-width: 1280px;
    margin: 0 auto; 
}
.contato-texto{
    margin-bottom: 60px;
}
.contato .contato-texto{
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
    color: white;
    margin-top: -30px;
}
form{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
input, textarea{
    width: 100%;
    background-color: #e2e2e2;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    box-shadow: 2px 2px 5px black;
}
form textarea{
    resize: none;
    max-height: 200px;
}
/* FIM CONTATO */

/* RODAPÉ */